<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--(Meterializecss) Deixa o site responsivo -->
<html ng-app="myModule"> <!--ng-app="Module_Name" serve para utilizar o modulo que criou para este html -->    
    <head>
        <title>Angular JS</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> <!--(Meterializecss) Utilizando css do materialize -->
    </head>

    <body ng-controller="indexController"> <!--ng-controller="indexController" serve para utilizar a controlle indexController-->        
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> <!--(Meterializecss) -->

        <script src="lib/angular/angular.min.js"></script> <!--Import class para utilizar o Angular JS -->
        <script src="js/materialize/init.js"> </script> <!--Import a inicialização do materialize que coloquei nesse path-->
        <script src="js/app/app.js"> </script> <!--Import module-->
        <script src="js/app/controllers.js"> </script> <!--Import controller-->
        

        <header class="container"> <!--class="container" é do materialize-->
            <h2 ng-bind="titulo"></h2>
            <!--<h2>{{titulo}}</h2> Pode usar {{}} para utilizar a variavel da controller, mas é bom sempre utilizar o ng-bind-->            
        </header>
        <main class="container">
            <div class="row"> <!--class="row" é do materialize-->
                <input type="text" placeholder="Filtros para todos os campos" ng-model="filtroBusca">
                <!-- <input type="text" ng-model="filtroBusca.nome">Filtra only o campo nome, se colcar busca.email only email ... -->
            </div>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Nota 1</th>
                        <th>Nota 2</th>
                        <th>Nota 3</th>
                        <th>Média</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aluno in alunos | filter:filtroBusca"> <!--ng-repeat serve pra demonstrar uma lista - ]
                        | filter variavel - serve para filtar, e estou usando a variavel criada no input text ng-model="filtroBusca" -->
                        <td ng-bind="aluno.nome"></td>
                        <td ng-bind="aluno.email"></td>
                        <td ng-bind="aluno.nota1"></td>
                        <td ng-bind="aluno.nota2"></td>
                        <td ng-bind="aluno.nota3"></td>
                        <td ng-bind="aluno.media"></td>
                        <td>
                            <button ng-click="updateAluno(aluno)" class="btn blue">Editar</button>
                            <button ng-click="deleteAluno(aluno)" class="btn red">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <a ng-click="openModal(false)" class="waves-effect waves-light btn">Adicionar</a>
            </div>
        </main>
        
        <!-- Modal -->
        <div id="modalRef" class="modal">
            <div class="modal-content">
                <h4 ng-if="!editando">Adicionar Aluno</h4> <!-- ng-if com a variavel editando para exibir a label correta-->               
                <h4 ng-if="editando">Editar Aluno</h4>
                <p>Preencha os dados do Aluno</p>
                <div class="row">                    
                    <div class="input-field col m6 s12">
                        <input type="text" ng-model="Aluno.nome" class="validate" placeholder="Nome">                        
                    </div>                
                    <div class="input-field col m6 s12">
                        <input type="text" ng-model="Aluno.email" class="validate" placeholder="E-mail">                        
                    </div>                                    
                    <div class="input-field col m4 s12">
                        <input type="number" ng-model="Aluno.nota1" class="validate" placeholder="Nota 1">                        
                    </div>                
                    <div class="input-field col m4 s12">
                        <input type="number" ng-model="Aluno.nota2" class="validate" placeholder="Nota 2">                        
                    </div>                
                    <div class="input-field col m4 s12">
                        <input type="number" ng-model="Aluno.nota3" class="validate" placeholder="Nota 3">                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a ng-if="!editando" ng-click="addAluno(Aluno)" class="waves-effect waves-light btn blue" href="#modalRef">Adicionar</a>
                <a ng-if="editando" ng-click="saveAluno(Aluno)" class="waves-effect waves-light btn blue" href="#modalRef">Salvar</a>
                <a ng-click="closeModal()" href="#!" class="waves-effect waves-green btn-flat">Cancelar</a>
            </div>
        </div>

    </body>
</html>